<div class="container">
  <h1>Products</h1>
  <div class="products-list">
    <mat-card class="example-card" *ngFor="let product of products$ | async">
      <img mat-card-image [src]="product.image" alt="Product image" />
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-chip-list class="card-chips">
        <mat-chip>{{ product.type }}</mat-chip>
      </mat-chip-list>
      <mat-card-content class="card-content">
        <p>
          {{
            product.description.length > 120
              ? (product.description | slice: 0:120) + ".."
              : product.description
          }}
        </p>
        <h3 class="price" align="right">
          {{ product.prices | price }}
          <div class="previous-price">{{ product.prices | price: 1 }}</div>
        </h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
