.content {
  width: 80%;
  margin: 0 auto;
  padding: 4em 0;

  .header {
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .spinner {
    margin: 6em auto;
  }
}
